body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px); // This be the blur
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 520px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
	//height: 100vh;
}

.popup {
	//popup__close
	&__close {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -20px;
			top: 20px;
			width: 20px;
			height: 2px;
			background-color: #a5a5a5;
			transform: rotate(-45deg);
		}
		&::after {
			content: "";
			position: absolute;
			left: -20px;
			top: 20px;
			width: 20px;
			height: 2px;
			background-color: #a5a5a5;
			transform: rotate(45deg);
		}
	}

	// .popup__body

	&__body {
		display: flex;
		flex-direction: column;
	}
}
.body-popup {
	//body-popup__title-close-wrap
	&__title-close-wrap {
		display: flex;
		justify-content: space-between;
	}

	// .body-popup__title

	&__title {
		//styleName: Desktop/H2;
		font-family: "Inter";
		font-size: rem(32);
		font-weight: 600;

		line-height: math.div(40, 32);
		letter-spacing: 0px;
		text-align: left;
		margin-bottom: 20px;
	}

	// .body-popup__category

	&__category {
		margin-bottom: 40px;
	}
}
.category-popup {
	display: flex;
	flex-direction: column;
	gap: 12px;
	// .category-popup__title

	&__title {
		color: #a5a5a5;
		//styleName: Desktop/Normal;
		font-family: "SF Pro Text";
		font-size: rem(16);
		font-weight: 400;
		line-height: math.div(22, 16);
		text-align: left;
	}

	// .category-popup__items

	&__items {
	}
}
.items-popup-category {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	// .items-popup-category__item

	&__item {
		font-family: "Inter";
		font-size: rem(14);
		font-weight: 400;
		line-height: math.div(18, 14);
		padding: 11px 20px;
		background: #ffffff;
		border: 1px solid #f0f0f0;
		border-radius: 6px;
		cursor: pointer;
	}

	// .items-popup-category__button

	&__button {
	}
}
.active-items-popup-category__item {
	background-color: #ff7010;
	color: #fff;
}

.button-category-popup {
	display: flex;
	justify-content: space-between;
	// .button-category-popup__apply

	&__apply {
		//styleName: Desktop/Normal;
		font-family: "SF Pro Text";
		font-size: rem(16);
		font-weight: 400;
		line-height: 22px;
		line-height: math.div(22, 16);
		text-align: center;

		background-color: #ff7010;
		border-radius: 6px;
		color: #fff;
		padding: 13px 77px;
		@media (max-width: $mobile) {
			padding: 13px 20px;
		}
	}

	// .button-category-popup__reset

	&__reset {
		font-family: "SF Pro Text";
		font-size: rem(16);
		font-weight: 400;
		line-height: 22px;
		line-height: math.div(22, 16);
		text-align: center;
		border: 1px solid #ff7010;
		border-radius: 6px;
		color: #ff7010;
		padding: 13px 77px;
		@media (max-width: $mobile) {
			padding: 13px 20px;
		}
	}
}
