@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Black.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-BoldItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-BlackItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-HeavyItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-HeavyItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Light.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Heavy.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Heavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-LightItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-MediumItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-RegularItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-SemiboldItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-SemiboldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-ThinItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-ThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-UltralightItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-UltralightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Text-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Thin.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Display-Ultralight.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Ultralight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	font-display: swap;
	src: url("../fonts/SF-Pro-Text-BoldItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Text-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
