.tabs-account {
    // .tabs-account__navigation

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .tabs-account__main-title

    &__main-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }

    // .tabs-account__wrap

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    // .tabs-account__title

    &__title {
        //styleName: Desktop/Normal;
        font-family: SF Pro Text;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

    // .tabs-account__content

    &__content {
    }

    // .tabs-account__body

    &__body {
    }
}

.spollers {
    // .spollers__item

    &__item {
    }

    // .spollers__title

    &__title {
        padding: 16px 20px 20px 20px;
        display: flex;
        flex-direction: column;
    }

    // .spollers__body

    &__body {
    }
}
.spoller-account-body {
    // .spoller-account-body__item

    &__item {
        margin-bottom: 12px;
    }

    // .spoller-account-body__down-text

    &__down-text {
    }
}
.item-body-account-spoller {
    display: flex;

    justify-content: space-between;
    // .item-body-account-spoller__title

    &__title {
    }

    // .item-body-account-spoller__text

    &__text {
        &_first {
            //text-spoller-account-body-item__text_first
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -11px;
                top: 0px;
                height: 100%;
                width: 4px;
                border-radius: 24px;
                background-color: #e23535;
            }
        }
    }
}
.text-spoller-account-body-item {
    border-bottom: 1px solid #f0f0f0;
    gap: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    // .text-spoller-account-body-item__title

    &__title {
        //styleName: Desktop/Mini;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

        color: #a5a5a5;
    }

    // .text-spoller-account-body-item__text

    &__text {
    }
}
.text-item-body-account-spoller {
    display: flex;
    align-items: baseline;
    gap: 8px;

    // .text-item-body-account-spoller__number

    &__number {
    }

    // .text-item-body-account-spoller__date

    &__date {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        /* Gray text */

        color: #a5a5a5;
    }
}

.content-down-spollers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-main-my-account {
    // .body-main-my-account__paggination

    &__paggination {
    }
}
.paggination-account-my-main-body {
    // .paggination-account-my-main-body__block

    &__block {
    }
}
.block-body-main-my-account-paggination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    // .block-body-main-my-account-paggination__button

    &__button {
    }

    // .block-body-main-my-account-paggination__number

    &__number {
    }
}
.button-paggination-account-my-main-block {
    display: flex;

    background: #ff7010;
    padding: 15px;

    border-radius: 6px;

    // .button-paggination-account-my-main-block__img

    &__img {
        width: 17px;
        height: 17px;
        //button-paggination-account-my-main-block__img_rotate
        &_rotate {
            transform: rotate(180deg);
        }
    }
}
.number-paggination-account-my-main-block {
    display: flex;
    align-items: center;
    gap: 16px;
    // .number-paggination-account-my-main-block__item

    &__item {
        padding: 15px;
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        //styleName: Desktop/Normal;
        font-family: SF Pro Text;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }
}
.spollers {
    // .spollers__body

    &__body {
    }
}
.body-spollers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // .body-spollers__img

    &__img {
    }

    // .body-spollers__title

    &__title {
        //styleName: Desktop/Subtitle 2;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }

    // .body-spollers__text

    &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #191919;
    }

    // .body-spollers__tovar

    &__tovar {
        background: #ffeee2;
        border-radius: 6px;
        padding: 10px 20px;
        //styleName: Desktop/Subtitle 2;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #ff7010;
    }

    // .body-spollers__buy

    &__buy {
        //styleName: Desktop/Subtitle 2;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #ff7010;
    }
}
